.titulo-principal{
    color: beige;
    font-size: 20px;
    text-align: center;
    padding: 25px;
}

.titulo-secundario{
    color: beige;
    font-size: 25px;
    padding: 45px;
    text-align: center;
}

.titulo-tercero{
    font-size: 20px;
    color: #1e1e1e;

}

.texto-secundario{
    color: beige;
    font-size: 70px;
    text-align: center;
    
}

