
body{
    background-color: #1e1e1e;
}

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.banner h1{
    font-size: 35px;
}

.banner p{
  
    font-size:20px;
}


